body{
     background-color: rgb(201, 231, 235);
}
title{
     font-style: oblique;
     color: black;
     display: inline;
}
h1{
     font-style: bold;
     text-align: center;
     padding: 10px;
     font-size: 44px;
}
h2{
   font-family:'Times New Roman', Times, serif;
     font-style: bold;
     text-align: center;
     font-size: 32px;
}
label{
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     margin-bottom: 2px;
     display: block;
     font-size: 26px;
     font-size: larger;
}
input {
     padding: 8px 10px; 
     border: 1px solid #ccc; 
     border-radius: 4px; 
     font-size: 16px;
     width: 100%; 
     text-align: center;
     box-sizing: border-box; 
}
button{
     padding: auto;
     font-size: larger;
     font-family: 'Times New Roman', Times, serif ;
}